footer {
    height: 10rem;
   /*margin-top: 4rem;*/
    border-top: solid 1px var(--accent-color-shade);
    justify-content: space-between;
}

footer img {
    width: 6rem;
}

footer nav {
    width: max-content;
}

footer nav a {
    color: var(--neutral-color);
    text-decoration: none;
    margin: 0px 0.5rem;
}